*{
  font-size: 10.5px;
  font-family: "JetBrainsMono Nerd Font";
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

#workspaces button {
  padding: 0 4px;
  margin: 1px;
  border-radius: 4px;
}

tooltip {
  background-color: alpha(@bar-solid-bg, 0.9);
  color: @bar-fg;
  border-radius: 4px;
}

.modules-left:first-child {
  margin-left: 10px;
}

.modules-right:last-child {
  margin-right: 5px;
}

/* Left - Modules */

/* Workspaces */

#workspaces button {
  min-width: 0px;
  padding: 4px 4px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  font-weight: bold;
  background-color: @accent-bg;
  transition: width 250ms ease-in-out;
  transition: background-color 350ms ease-in-out;
}

#workspaces button.focused {
  background-color: @hover-bg;
  min-width: 2px;
}

#workspaces button:not(.focused):hover {
  background-color: @hover-alt-bg;
}

#taskbar button {
    /* Left aur Right me gap badhane ke liye (Aap 8px ko badha ya ghta sakte hain) */
    margin-left: 2px;
    margin-right: 2px;
    
    /* Icon ke charo taraf thodi andar ki space badhane ke liye */
    padding-left: 4px;
    padding-right: 4px;
    
    /* Background highlight ko clean rakhne ke liye (Optional) */
    border: none;
    border-radius: 4px;
}

/* Jab aap kisi icon par mouse lekar jayein (Hover effect) */
#taskbar button:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Jo window is samay screen par active/open hai uska icon */
#taskbar button.active {
    background: rgba(255, 255, 255, 0.25);
    border-bottom: 2px solid #8aadf4; /* Niche ek choti line dikhane ke liye */
}

/* Center - Modules */

/* Clock */

#clock {
  font-weight: bold;
  color: @accent-fg;
  font-size: 10px;
}

/* Right - Modules */

.modules-right > widget > * {
  margin: 4px 0px 4px 5px;
  border-radius: 2px;
  padding: 0px 4px;
  color: @icons-fg;
}

/* Cpu */

#cpu {
  background-color: @color1;
}

/* Memory */

#memory {
  background-color: @color2;
}

/* Temperature */

#temperature {
  background-color: @color3;
}

/* Backlight */

#backlight {
  background-color: @color4;
}

/* Pulseaudio */

#pulseaudio {
  background-color: @color5;
}

/* Tray */

#tray {
  background-color: @color6;
  color: @accent-fg;
}

#tray menu {
  padding: 3px;
}

#tray menu > * {
  min-height: 0px;
  padding: 3px 0;
}

#tray menu separator {
  min-height: 1.6px;
  padding: 0;
}

/* Network */

#network {
  background-color: @color6;
  color: @accent-color;
}

/* Battery */

#battery {
  background-color: @color7;
}

#custom-power {
  background-color: @color8;
  padding-left: 8px;
  padding-right: 10px;
}
